.pdpt-bg {
    margin-top: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #e9e9e9;
}

.pdp-product__new-price {
    font-size: 16px;
    color: black;
}

.pdp-product__price--new {
    font-size: 24px;
    font-weight: 600;
    color: var(--second-color);
}

.space span {
    font-size: 12px;
}

.pdp-product__tax-disclaimer {
    font-size: 12px;
    font-weight: 500;
    color: #999;
}

.pdpt-body {
    height: 451px;
    overflow-y: auto;
}

.pdct-dts-1 {
    padding: 0 30px 30px;
}

.pdct-dt-step h4 {
    margin-top: 27px !important;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: left;
}

p:last-child {
    margin-bottom: 0;
}

.pdct-dt-step p {
    font-size: 14px;
    font-weight: 400;
    color: #3e3f5e;
    line-height: 26px;
    text-align: left;
}

.pdpt-title h4 {
    /* border-bottom: 1px solid #efefef;
    padding: 15px 20px; */
    font-size: 16px;
    font-weight: 600;
    color: #2b2f4c;
}

.btn-color {
    margin : 10px;
    width: 30px;
    height: 20px;
    border: 2px solid black;
}

.colt {
    font-size: 16px;
    font-weight: 600;
}


.btn-color1 {
    padding: 5px;
    margin: 5px;
    border: 0px;
    width: 50px;
    background: white;
}

.btn-ajouter button{
    font-size: 18px;
    padding: 12px 24px;
    background: var(--primary-color);
    color: white;
    border: 1px solid transparent;
    transition: 0.5s ease;
    border-radius: 10px;

}

.btn-ajouter {
    margin-bottom: 40px;
}

.btn-ajouter button:hover {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.Sizes_list__UHPhY {
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 24px -10px 0 0;
    padding: 0;
}

.taill {
    margin-top: 40px;
    margin-bottom: 40px;

}


.couleur {
    margin-top: 40px;
    

}

.desc {
    margin-top: 20px;
    
}

.desc span{
    font-size: 14px;
    color: var(--primary-color);
}

.Simil {
    text-align: center;
}

.nomprod h2{
    color: #16247d;
    margin-bottom: 30px;

}
.form-check  {
    height: 50px;
}
