
.buy__btn button{
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 8px;
    background-color: var(--primary);
    color: white;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

b

.buy__btn button:hover {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  }

.cart__price {
    font-size: 30px;
    font-weight: 600;

}