.foot{
    background: var(--primary-color);

}

.service Link {
  font-size: 16px;
}


.footer__contact li span{
    font-size: 14px;
}

.footer__copyright{
    color: rgba(11, 2, 2, 0.735);
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}

.pay img{
    transition: 0.5s ease;
   
  
  }
  
  .pay img:hover{
    transform: translateY(-8px);
  }
  
.visa img{
   width: 100%;
   height: 50px;
  }
 
   
.mobile img{
   width: 160%;
   height: 50px;
  
  }
  

  
  .footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: #0a1d37;
}

.footer__text {
    line-height: 30px;
    color: hsl(0, 12%, 95%);
    
}


.footer__quick-links ul li {
  background: transparent !important;
}

.footer__quick-links ul li {
  color: white;
  font-size: 14px;
}

.quick__links-title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.4rem;
}

.footer__contact li span,
.footer__contact li p {
    color: rgba(255, 255, 255, 0.735);
    
}

.footer__contact li span{
    font-size: 1.2rem;
}

.footer__copyright{
    color: rgba(255, 255, 255, 0.735);
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}

  hr{
    color: white;
    
  }


  
  .app p {
    font-size: 14px;
  }

  .footer__quick-links p {
    font-size: 14px;
  }
  
@media only screen and (max-width:1024px) {
   
.footer__quick-links ul li {
  background: transparent !important;
  font-size: 12px;
}

.footer__quick-links p {
  font-size: 13px;
}


.app p {
  font-size: 14px;
 
}
 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img{
  width: 100%;
}

